<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields name="component" label="COM_SCHOOLSJ3_COMPONENT_LABEL" description="COM_SCHOOLSJ3_COMPONENT_DESC">
    </fields>

    <fields name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
	    <field name="rules" type="rules" component="com_schoolsj3" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
    </fields>
</config>
